---
icon: elementor
---

# DIKSHA Load Testing Report



{% embed url="https://docs.google.com/document/d/1Z6lY2zYMxbqsVvStdqogbD8XHRH9_GMM1VTWWAJ-YUc/edit?usp=sharing" %}
